// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$container: 500px;

.user{
	width: 150px;
	float: left;
	margin-top: 68px;
}

.image_user{
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	-webkit-box-shadow:  1px 1px 1px 1px #777;
	box-shadow:  1px 1px 1px 1px #777;
	border: 1px solid #666;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.tweets{
	width: $container;
	margin-right: 20px;
	float: left;
}

.mentions{
	width: $container;
	float: left;
}

.tweet{
	margin-bottom: 5px;
	padding: 2px;
	-webkit-box-shadow: 1px 1px 1px 1px #777;
	box-shadow: 1px 1px 1px 1px #777;
	border: 1px solid #666;
	-webkit-border-radius: 3px;
    border-radius: 3px;
}